body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

/* #balance { */
/*   color: black; */
/* } */

.hint {
  color: #666;
}

.wrapper {
  margin:30px auto;
  width:80%;
  font-family:sans-serif;
  color:#555;
  font-size:14px;
  line-height:24px;
}

.tabs {
  li {
    float:left;
    width:20%;
  }
  a {
    display:block;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:#888;
    padding:20px 0;
    border-bottom:2px solid #888;
    background:#f7f7f7;
    
    &:hover, &.active {
      background:#ddd;
    }
  }
}

.wrapper {
  margin:30px auto;
  width:80%;
  font-family:sans-serif;
  color:#555;
  font-size:14px;
  line-height:24px;
}

.tabs {
  li {
    float:left;
    width:20%;
  }
  a {
    display:block;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:#888;
    padding:20px 0;
    border-bottom:2px solid #888;
    background:#f7f7f7;
    
    &:hover, &.active {
      background:#ddd;
    }
  }
}
.tabgroup {
  div {
    padding:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.3);
  }
}
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}
